@model RuilWinkelVaals.ViewModel.Register

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}
<!DOCTYPE html>

<div class="RegisterContainer">
    <div class="pt-5">
        <div class="RegisterBox">
            <div class="form-container">
                <img class="Logo" alt="Ruilwinkel Vaals Logo" src="~/images/RegisterBackgroundImage.png" />

                <form asp-action="Register">

                    @*Personal info*@
                    <label asp-for="Email" class="Label"></label>
                    <input asp-for="Email" class="Textbox" id="emailTextbox" />
                    <span asp-validation-for="Email" id="EmailValidation" class="Validation"></span>

                    <label asp-for="Voornaam" class="Label"></label>
                    <input asp-for="Voornaam" class="Textbox" id="voornaamTextbox" />
                    <span asp-validation-for="Voornaam" id="VoornaamValidation" class="Validation"></span>

                    <label asp-for="Achternaam" class="Label"></label>
                    <input asp-for="Achternaam" class="Textbox" id="achternaamTextbox" />
                    <span asp-validation-for="Achternaam" id="AchternaamValidation" class="Validation"></span>

                    @*Location*@
                    <label asp-for="Straat" class="Label"></label>
                    <input asp-for="Straat" class="Textbox" id="straatTextbox" />
                    <span asp-validation-for="Straat" id="StraatValidation" class="Validation"></span>

                    <label asp-for="Huisnummer" class="Label"></label>
                    <input asp-for="Huisnummer" class="Textbox" id="huisnummerTextbox" />
                    <span asp-validation-for="Huisnummer" id="HuisnummerValidation" class="Validation"></span>

                    <label asp-for="Woonplaats" class="Label"></label>
                    <input asp-for="Woonplaats" class="Textbox" id="woonplaatsTextbox" />
                    <span asp-validation-for="Woonplaats" id="WoonplaatsValidation" class="Validation"></span>

                    <label asp-for="Postcode" class="Label"></label>
                    <input asp-for="Postcode" class="Textbox" id="postcodeTextbox" />
                    <span asp-validation-for="Postcode" id="PostcodeValidation" class="Validation"></span>

                    @*Date of Birth*@
                    <label asp-for="Geboortedatum" class="Label"></label>
                    <input asp-for="Geboortedatum" class="Textbox" id="geboortedatumTextbox" />
                    <span asp-validation-for="Geboortedatum" id="DoBValidation" class="Validation"></span>

                    @*Password*@
                    <label asp-for="Password" class="Label"></label>
                    <input asp-for="Password" class="Textbox" type="password" id="passwordTextbox" />
                    <span asp-validation-for="Password" id="PasswordValidation" class="Validation"></span>

                    <label asp-for="ValidationPassword" class="Label"></label>
                    <input asp-for="ValidationPassword" class="Textbox" type="password" id="validateTextbox" />
                    <span asp-validation-for="ValidationPassword" id="ValidationPasswordValidation" class="Validation"></span>
                  
                    @*Business*@
                    <label asp-for="Zakelijk" class="Label"></label>
                    <input asp-for="Zakelijk" type="checkbox" id="zakelijkCheckbox" />
                    @Html.ValidationMessage("RegisterError", null, new { @class = "Validation", @id = "registrationError" })
                    <input class="Button" id="registerButton" type="submit" value="Registreren" onclick="location.href = '@Url.Action("Register")'" />
                </form>
            </div>
        </div>
    </div>
</div>