@model RuilWinkelVaals.ViewModel.Register

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}
<!DOCTYPE html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
</head>

<script>
    $(function () {
        $('#datepicker').datetimepicker({
            
        });
    });
</script>

<div class="RegisterContainer">
    <div class="pt-5">
        <div class="RegisterBox">
            <div class="form-container">
                <img class="Logo" alt="Ruilwinkel Vaals Logo" src="~/images/RegisterBackgroundImage.png" />

                <form asp-action="Register">

                    @Html.ValidationMessage("ValidationError", "", new { @class = "Validation" })

                    @*Personal info*@
                    <label asp-for="Email" class="Label"></label>
                    <input asp-for="Email" class="Textbox" />
                    <span asp-validation-for="Email" class="Validation"></span>

                    <label asp-for="Voornaam" class="Label"></label>
                    <input asp-for="Voornaam" class="Textbox" />
                    <span asp-validation-for="Voornaam" class="Validation"></span>

                    <label asp-for="Achternaam" class="Label"></label>
                    <input asp-for="Achternaam" class="Textbox" />
                    <span asp-validation-for="Achternaam" class="Validation"></span>

                    @*Location*@
                    <label asp-for="Straat" class="Label"></label>
                    <input asp-for="Straat" class="Textbox" />
                    <span asp-validation-for="Straat" class="Validation"></span>

                    <label asp-for="Huisnummer" class="Label"></label>
                    <input asp-for="Huisnummer" class="Textbox" />
                    <span asp-validation-for="Huisnummer" class="Validation"></span>

                    <label asp-for="Woonplaats" class="Label"></label>
                    <input asp-for="Woonplaats" class="Textbox" />
                    <span asp-validation-for="Woonplaats" class="Validation"></span>

                    <label asp-for="Postcode" class="Label"></label>
                    <input asp-for="Postcode" class="Textbox" />
                    <span asp-validation-for="Postcode" class="Validation"></span>

                    @*Date of Birth*@
                    <label asp-for="Geboortedatum" class="Label"></label>
                    <input asp-for="Geboortedatum" class="Textbox form-control" id="datepicker" value="@DateTime.Today.Date.ToString("dd-MM-yyyy")" />
                    <span asp-validation-for="Geboortedatum" class="Validation"></span>

                    @*Password*@
                    <label asp-for="Password" class="Label"></label>
                    <input asp-for="Password" class="Textbox" type="password" />
                    <span asp-validation-for="Password" class="Validation"></span>

                    <label asp-for="ValidationPassword" class="Label"></label>
                    <input asp-for="ValidationPassword" class="Textbox" type="password" />
                    <span asp-validation-for="ValidationPassword" class="Validation"></span>

                    @*Business*@
                    <label asp-for="Zakelijk" class="Label"></label>
                    <input asp-for="Zakelijk" type="checkbox" />

                    @Html.ValidationMessage("RegisterError", null, new { @class = "Validation" })
                    <input class="Button" type="submit" value="Registreren" onclick="location.href = '@Url.Action("Register")'" />
                </form>
            </div>
        </div>
    </div>
</div>