<div class="modal fade" id="showVoorwaarden">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-header" id="VoorwaardenLabel">Voorwaarden</h4>
            </div>

            <div class="modal-body">
                <form action="VoorwaardenPartial">
                    <div class="form-group">
                        <p>Hier komen de algemene voorwaarden voor Ruilwinkel Vaals</p>
                        <label>Dit is een label</label>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Sluiten</button>
            </div>
        </div>
    </div>
</div>