@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_LoginLayout";
}

<div class="Logincontainer">
    <div class="pt-5">
        <div class="Loginbox">
            <div class="form-container">
                <img class="Logo" alt="RuilWinkel Vaals logo" src="~/Images/LoginBackgroundImage.png" />
                <h1 style="text-align:center;font-size: 30px;color:#3b1e4a;text-transform:uppercase;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">Ongeldige link</h1>
                <label class="SendRMailLabel" style="text-align:center">Deze link is ongeldig.<br /><br /> Klik op de onderstaande knop om een nieuwe link te ontvangen.</label>
                <input class="Button" type="submit" value="Nieuwe herstellink aanvragen" onclick="location.href='@Url.Action("ForgotPassword", "ForgotPassword")'" />
            </div>
        </div>
    </div>
</div>