@model RuilWinkelVaals.ViewModel.RestorePassword.ForgotPassword;
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_LoginLayout";
}

<div class="Logincontainer">
    <div class="pt-5">
        <div class="Loginbox">
            <div class="form-container">
                <img class="Logo" alt="RuilWinkel Vaals logo" src="~/Images/LoginBackgroundImage.png" />

                <form asp-action="ForgotPassword">
                   <label class="SendRMailLabel">Voer hieronder uw e-mailadres in zodat wij u een link naar de wachtwoord herstelpagina kunnen sturen.</label>
                   <label asp-for="emailAddress" id="LoginLabel" class="Label"></label>
                    <input asp-for="emailAddress" id="EmailTextBox" class="Textbox" />
                    <span asp-validation-for="emailAddress" id="EmailValidation " class="Validation"></span>
                    <input class="Button" type="submit" value="Verstuur e-mail" onclick="location.href=@Url.Action("ForgotPassword")"/>
                </form>
            </div>
        </div>
    </div>
</div>