@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_LoginLayout";
}

<div class="Logincontainer">
    <div class="pt-5">
        <div class="Loginbox">
            <div class="form-container">
                <img class="Logo" alt="RuilWinkel Vaals logo" src="~/Images/LoginBackgroundImage.png" />
                <h1 style="text-align:center;font-size: 30px;color:#3b1e4a;text-transform:uppercase;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">Gelukt!</h1>
                <label class="SendRMailLabel" style="text-align:center">Er is succesvol een nieuw wachtwoord aangemaakt voor het account van @TempData["Email"].ToString().<br /><br /> Klik op de onderstaande knop om in te loggen.</label>
                <input class="Button" type="submit" value="Terug naar het inlogscherm" onclick="location.href='@Url.Action("Login", "Login")'" />
            </div>
        </div>
    </div>
</div>