@model RuilWinkelVaals.ViewModel.RestorePassword.ResetPassword

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="Logincontainer">
    <div class="pt-5">
        <div class="Loginbox">
            <div class="form-container">
                <img class="Logo" alt="RuilWinkel Vaals logo" src="~/Images/LoginBackgroundImage.png" />

                <form asp-action="ResetPassword">
                    <label asp-for="password" id="PasswordLabel " class="Label"></label>
                    <input asp-for="password" id="PasswordTextBox " class="Textbox" type="password" />
                    <span asp-validation-for="password" id="PasswordValidation " class="Validation"></span>
                    <label asp-for="passwordValidation" id="PasswordValidationLabel" class="Label"></label>
                    <input asp-for="passwordValidation" id="PasswordValidationTextBox" class="Textbox" type="password" />
                    <span asp-validation-for="password" id="PasswordValidationValidation" class="Validation"></span>
                    @Html.ValidationMessage("PasswordResetError", null, new { @class = "Validation", @id = "PasswordValidationError" })
                    <input class="Button" type="submit" value="Wachtwoord resetten" onclick="location.href='@Url.Action("ResetPassword")'" />
                </form>
            </div>
        </div>
    </div>
</div>