<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RuilWinkelVaals</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/NavbarStyle.css" />
    <script src="https://use.fontawesome.com/31b66e833c.js"></script>
</head>
<body>

    <div id="mySidenav" class="sidenav">
        <img class="logo" alt="RuilWinkel Vaals logo" src="~/images/LoginBackgroundImage.png" />
        <a href="/Home/Index"><i class="fa fa-fw fa-home"></i> Adminpanel</a>
        <a href="/ProfileDatums/Index"><i class="fa fa-bar-chart"></i> Overzichten</a>
        <a href="#clients"><i class="fa fa-book"></i> Inname/Uitgifte</a>
        <a href="#contact"><i class="fa fa-commenting"></i> Klachten</a>
        <a href="/Login/Login"><i class="fa fa-sign-out"></i> Uitloggen</a>
    </div>

    <div id="main" class="main">
        <div class="container" onclick="changeNav(), myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <div class="mainBox body-content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>


        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - RuilWinkelVaals - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>

        function myFunction(x) {
            x.classList.toggle("change");
        }

        var lengte = "0px";
        function changeNav() {
            if (lengte == "250px") {
                lengte = "0px";
            } else {
                lengte = "250px";
            }
            document.getElementById("mySidenav").style.width = lengte;
            document.getElementById("main").style.marginLeft = lengte;
        }


    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
